<div style="position: relative; top: 0.5rem; left: 0; right: 0; text-align: center; font-size: 1.5rem; color: #DE5151; font-family: 'Roboto Condensed', serif; margin-bottom: 2rem; font-size: 1.5rem; padding: 0.5rem;">
<i class="fa fa-fw fa-lock"></i>CRYPTA
</div>