<div class="x-header">
  	<div class="l-box" style="text-align: center;">
  		<h1 class="hero-logo"><span class="bg-white"><%= icon('lock') %></span><span class="bg-blue">CRYPTA</span></h1>
  		<div class="subtitle">
  			Encryption as a Service. On Demand.
  		</div>
  	</div>
	<p>Current User: <%= current_user.email if current_user %>
</div>