<h1>Tests</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<h2>X Form</h2>
<form class="x-form">
	<fieldset class="x-fieldset">
		<label>Name</label>
		<input type="text" placeholder="Type your name...">
		
		<label>Email</label>
		<input type="email" placeholder="Type your email...">
		
		<label>Password</label>
		<input type="password" placeholder="">
	</fieldset>

	<fieldset>
		<input type="button" value="omg!">
	</fieldset>
</form>

<h2>X Form Stacked</h2>
<form class="x-form x-form-stacked">
	<fieldset class="x-fieldset">
		<label>Name</label>
		<input type="text" placeholder="Type your name...">
		
		<label>Email</label>
		<input type="email" placeholder="Type your email...">
		
		<label>Password</label>
		<input type="password" placeholder="">
	</fieldset>

	<fieldset>
		<input type="button" value="omg!">
	</fieldset>
</form>
