// Forms for the x Base-Stylesheet
form.x-form {
	max-width: 50em;
	padding: 0.5rem;
	border: 1px solid #ddd;
	label {
		color: #777;
		display: block;
		padding: 0.5rem 0;
	}

	input {
		display: block;
		padding: 0.5rem;
		border: 2px solid #bbb;
	}
}

form.x-form-bordered {
	border: 2px solid #ddd;
}

form.x-form-stacked {
	input {
		display: block;
	}
	label {
		display: block;
	}
	div.x-input-labeled {
		display: block;
		background: none;
		input {
			display: inline-block;
		}
		label {
			display: inline-block;
		}
	}
}

fieldset {
	border: none;
	border: 1px solid #eee;
	padding: 0.5rem;
	margin: 1rem 0.5rem;

}

fieldset.x-fieldset {
	padding: 0.5rem;
	margin: 1rem 0.5rem;
	outline: none;
}

fieldset.x-fieldset-bordered {
	border: 2px solid #eee;
}

input[type="button"], input[type="submit"],button, form.a {
	transition: all 0.1s;
	min-width: 6em;
	font-family: 'Roboto';
	font-weight: bold;
	text-transform: bold;
	text-align: center;
	color: #fff;
	background: #DE5151;
	border: none !important;
	outline: none !important;
	padding: 0.5rem;
	&:hover {
		transition: none;
		background: #FF5D5D;
	}
	&:active {
	transition: none;
		background: linear-gradient(#DE5151,#FF5D5D);
	}
	// &:focus {
	// 	background: linear-gradient(#DE5151,#FF5D5D);
	// 	border: 2px solid #bbb;
	// }
}

input[type="email"]:invalid {
	color: #912727;
	background: #FF7777;
	border-color: #b00;
	outline: none;
	box-shadow: none;
	font-style: italic;
}

.x-form input[type="text"],
.x-form input[type="password"],
.x-form input[type="email"],
.x-form input[type="url"],
.x-form input[type="date"],
.x-form input[type="month"],
.x-form input[type="time"],
.x-form input[type="datetime"],
.x-form input[type="datetime-local"],
.x-form input[type="week"],
.x-form input[type="number"],
.x-form input[type="search"],
.x-form input[type="tel"],
.x-form input[type="color"],
.x-form select,
.x-form textarea {
	transition: border 0.5s;
	min-width: 16em;
	&:focus {
		color: #555;
		border-color: #FF7777;
		&::-webkit-input-placeholder {
		   color: #fff;
		}

		&:-moz-placeholder { /* Firefox 18- */
		   color: #fff;  
		}

		&::-moz-placeholder {  /* Firefox 19+ */
		   color: #fff;  
		}

		&:-ms-input-placeholder {  
		   color: #fff;  
		}
	}
}